@{
    ViewBag.Title = "Contact";
}

<address>
    Computational Systems Biology<br />
    University of Kaiserslautern<br />
    Erwin-Schrödinger-Str. 56 R244<br />
    67663 Kaiserslautern, Germany<br />    
    <abbr title="Phone">P:</abbr>+ 49 (0)631 205 4657<br />
    <a href="http://csb.bio.uni-kl.de/">http://csb.bio.uni-kl.de/</a>
</address>

<address>
    <strong>Support:</strong><a href="mailto:muehlhaus@bio.uni-kl.de">Timo Mühlhaus</a><br />
    <strong>Programming:</strong><a href="mailto:Luedemann@rhrk.uni-kl.de">Alexander Lüdemann</a><br />
    <strong>Data Parsing and Database Loading:</strong> <a href="mailto:sabrina.goedel@yahoo.de">Sabrina Gödel</a>
</address>