<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="FaToolDbConnectionString"
         connectionString="Data Source=iomiqsdb1.bio.uni-kl.de\dbserver1;Initial Catalog=FaToolDB;MultipleActiveResultSets=True;Persist Security Info=True;User ID=iomiqer;Password=iomiqer"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
    <add name="FaToolIdentityDbConnectionString"
         connectionString="Data Source=iomiqsdb1.bio.uni-kl.de\dbserver1;Initial Catalog=FaToolIdentityDb;MultipleActiveResultSets=True;Persist Security Info=True;User ID=iomiqer;Password=iomiqer"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>
