td.fit,
th.fit {
    white-space: nowrap;
    width: 1%;
}

div.glass-pane {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.1);
    visibility: hidden;
    z-index: 99999;
}

div.glass-pane-cancel {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: transparent;
}
